:root {
    --blue: rgb(0, 157, 255);
    --white: #fff;
    --black: #000;
}


body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



li {
    list-style: circle;
}

.list {
    list-style: square;
}



.light-theme {
    --bg: var(--blue);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);

}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--blue);
}

.btn {
    color: var(--btnFontColor);
    background: var(--btnBg);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
}