

:root {
    --green:#0f0;
    --white:#fff;
    --black:#000;
}


body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: Helvetica, sans-serif;
    
}

ul{

}

li {
    list-style: circle;
}

.list{
list-style: square;
}



.light-theme {
    --bg: var(--green);
    --fontColor:var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);

}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}

.btn {
    color: var(--btnFontColor);
    background: var(--btnBg);
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;

}

